
.row-item{
    color: rgb(244, 239, 239);
}
.item-1{
    background-color: black;
}

[class^="item"]{
    
    width: 130px;
    height: fit-content;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;   
}
.item:hover{
    background-color: rgba(0, 1, 0, 0.815);
    transition:0.5s ease-in-out;
    opacity: 1;
}
.nav{
    background-color: rgba(34, 33, 33, 0.489);
    width:130px;
    height: max-content;
    position: fixed;
    top:0px ;
    left: 0px;
    z-index: +1;
    
}
.bi{
    color: white;
    font-size:30px;
    }
.pic{
    width: 130px;
    opacity:0.5 ;
    border-radius: 50%;
}
/*nav over*/

/*Header starts*/
.main-div{
    margin-left: 170px;
    margin-right: 30px;
    height: max-content;

}
header{
    position: relative;
    left: 40%;
    top: 100px;
    
    width:fit-content;
    height: fit-content;
    
}
.h1{
    color: rgba(255, 255, 255, 0.548);
    font-weight: bolder;
    font-family: sans-serif;
    font-style: oblique;
}
.h1-p{
    text-align: center;
    color: rgba(255, 255, 255, 0.548);
}
.img-h{
    border-radius: 50%;
    
}
.header-div{
 
 
    background-color: rgba(130, 136, 136, 0.493);
}

/*ABOUT SESSION*/

.abt-main{
   margin-top: 25rem;
    
}
.abt-h1{
    color: rgba(255, 255, 255, 0.619);
    font-family: sans-serif;
}
.abt-p1{
    color: rgba(128, 128, 128, 0.662);
    font-family: sans-serif;
}
.abt-nav{
    margin-top: 50px;
    display: flex;
}
.abt-nav2{
    margin-left: 50px;
}
.abt-nav3{
    margin-left: 50px;
}
.Freelance{
    margin-top: 30px;
    width: 500px;
}
span{
    color: rgba(215, 215, 19, 0.779);
}
/*abt end*/
/*skill start*/
.skill{
    margin-top: 70px;
}
.skil-per{
    height: 20px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.463);
}
.skill-per1{
    height: 20px;
    width: 900px;
background-color: rgba(221, 24, 24, 0.639);
}

.per2{
    width: 850px
}
.per3{
    width: 75%;
}
.para1{
    margin-top: 10px;
}
.skill-img{
    display: flex;
    margin-top: 40px;
}
.skill-img1{
    border-radius: 50%;
    width: 100px;
}
.skill-img0{
    margin-left: 120px;
    justify-content: center;
    text-align: center;
}
.skill-img-div2{
    display: flex;
    margin-top: 20px;
}
.img01{
    margin-left: 230px;
    justify-content: center;
    text-align: center;
}

.tech-stack{
    margin-top: 30px;
}
/* SKills ENd*/
/*projects*/
.projects-main-div{
    margin-top: 40px;
    
}
.price{
    margin-top: 200px;
}
.pt1{
    display: flex;
    margin-top: 50px;
}
.price-1{
    opacity: 0.6;
    margin-left: 10px;
    width: 500px;
    
}
.price-1:hover{
    opacity: 1;
}
.ul1{
    
    text-align: center;
    text-decoration: none;
    list-style:none;
    
}

.li1{
    background-color: grey;
    font-size: 30px;
    height: 100px;
    color: rgba(231, 228, 228, 0.986);
    font-family: sans-serif;
    padding-top: 30px;
   
    
    
}
.li2{
    background-color: white;
    height: 50px;
    border-bottom: 1px solid gray;
    font-size: larger;
    padding-top: 10px;
}
.li3{
    background-color: white;
    height: 130px;
    border-bottom: 1px solid gray;
    font-size: larger;
    padding-top: 40px;
}
.li4{
background-color: rgba(233, 232, 232, 0.847);
}
.li-btn{
    font-size: medium;
    padding: 10px;
     border: none;
     width: 90px;
}
.liic{
    color: black;
}
.li-btn:hover{
    background-color: black;
    color: white;
}




/*project end*/
/* contact*/
.con-main-div{
    margin-top: 100px;  
}
.h2{
    width: fit-content;
    height: 50px;
    border-bottom: 1px solid white;
}
.con-div2{
    margin-top: 20px;
}
.con-p1{
   color: grey;
}
.bi1{
margin-right: 20px;
}
.form{
    margin-top: 30px;
}
.input1{
width: 900px;
height: 50px;
}
.btn-ic{
    color: black;
    font-size: 20px;
    margin-top: 10px;
}
 .bt01{
height: 50px;
width: 200px;
border: 0px;
 }
  .bt01:hover{
    background-color: grey;
 }
/*Contact End*/
/*footer start*/
.footer{
    margin-top: 120px;
    height: 120px;
}
.f-ic{
    font-size: 20px;
    color: grey;
}
.f-ic:hover{
color: rgba(100, 101, 101, 0.509);
}
/*footer Over*/

@media only screen and (max-width: 820px) {
    .main-div {margin-left: 10px;
    
        
        
       width:fit-content;
    }
    
    .nav-div{
        display: none;
    }
.header-div{
width:100%;

margin-left: 0px;
}
header{
    position: relative;
    left: 30%;
    top: 100px;
    
    width:fit-content;
    height: fit-content;
    
}
.img-h{
   
    border-radius: 50%;
    width:100%;
    
    
}


.abt-main{
    width:100%;
}
.Freelance{
    width: fit-content;
}
.abt-nav{
    display:contents;
    width:100%;
}
.abt-nav2{
    margin-left: 0px;
}
.abt-nav3{
    margin-left: 0px;
}


.skill{
    width:100%;
}

.skill-per1{
    width:90%;
}
.per2{width: 85%;}
.per3{width: 75%;}
.skil-per{
    width:100%;
}
.skill-img{
    
    width: fit-content;
    display: contents;
}
.skill-img-div2{
    display:contents;

}
.img01{
    margin-left:120px;
}
.input1{
    width: 100%;
}
.pt1{
    display: block;
    width: 100%;
    margin-left: -30px;
    padding-left: 0px;
    
}
.price-1{
    margin-left:0px;
    padding-left: 0px;
    
}
    .mobnav{
    margin-left: 8px;
    position: fixed;
    top: 0px;
    font-size:50px;    
    
    }
    #mob-nav-list{
        display: block;
        z-index: +1;
        position: fixed;
        top:55px;
        left: -100px;
        
        background-color: rgb(13, 13, 13);
        border-right: 1px solid rgb(120, 116, 116);
        
        width:50%;
        transition:0.5s ease-in-out;
        height: 200vh;
       
        
    }
    .mob-nav1{
        
        
        list-style: none;
        text-align: center;
        justify-content: center;
        width: 100%;
        
        
        
        
    }
    .mob-nav2{
        justify-content: center;
        border-bottom: 1px solid rgb(235, 232, 232);
        margin-top: 20px;
        align-items: center;
        width:150px;
        text-align: center;
        position: relative;
       
        
        padding: 10px;
        height: 50px;
       
        
        
        
    }
    
    .mob-nav2 a{
        text-decoration: none;
        color: white;
        
    }
    .mob-nav2 a:hover{
        color: white;
    }
  
    .mob-nav2:hover{
        background-color: rgb(105, 104, 104);
        color: black;
    }




}

/* MObile nav style*/

@media only screen and (min-width: 820px) {
    .mob-nav{
        display: none;
    }
}
