* {
  font-family: sans-serif;
}

.Wimg {
  width: 60px;
  height: 60px;

  opacity: 0.7;
}
.Wdiv {
  transition: 1s ease-in-out;
  display: none;
}
.WDiv {
  transition: 1s ease-in-out;
  position: fixed;
  right: 0;
  bottom: 20px;
}
.row-item {
  color: rgb(244, 239, 239);
  margin-top: 10%;
}
.item-1 {
  background-color: black;
}

[class^="item"] {
  display: flex;
  background-color: black;
  margin: 2px;

  width: 130px;
  height: 40px;

  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 0.8;
}
[class^="item"]:hover {
  border: 1px solid white;
  border-color: aliceblue;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.nav {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  height: 50px;
  width: 1225px;

  margin-left: 20px;

  z-index: +1;
  display: flex;
}
.nav-icon {
  display: flex;
  align-items: center;
  width: auto;
  margin-left: 30%;
}
.bi {
  color: rgb(194, 14, 14);
  font-size: 20px;
  margin-right: 10px;
}
.pic {
  margin-left: 10px;
  height: 50px;
  width: 100px;
  opacity: 0.9;
  border-radius: 10px;
  background: none;
}
.nav-div {
  transition: 0.5s ease-out;
  position: fixed;
  z-index: +1;
  top: 0px;
  left: 0px;
}
/*nav over*/

/*Header starts*/
.main-div {
  width: fit-content;
  padding: 10px;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  height: max-content;
  background-color: #f0f0f0;
  transition: 0.5s ease-in-out;
}
header {
  position: relative;
  left: 40%;
  top: 100px;

  width: fit-content;
  height: fit-content;
}
.p {
  font-weight: 800;
  color: rgba(159, 9, 9, 0.587);
  text-shadow: 5px 5px 5px rgb(19, 17, 17);
  font-size: 50px;
  margin-top: 70px;
}
.type {
  font-weight: 500;
  color: white;
  text-shadow: 5px 5px 5px rgb(19, 17, 17);
  font-size: 50px;
  margin-top: 40px;
}
.head {
  position: absolute;
  top: 330px;
  width: fit-content;
}
.h1-p {
  margin-left: 60px;
  text-align: center;
  color: rgba(202, 21, 21, 0.966);
}

.header-div {
  background-image: url(Assets/Mypic.jpg);

  border-radius: 10px;
  background-size: cover;
  height: 140vh;
}

.h-img {
  width: 200px;
  height: 200px;
}

/*ABOUT SESSION*/

.abt-main {
  margin-top: 5rem;
}
.w-img {
  opacity: 0;
}
.w-img-show {
  opacity: 0.7;
  transition: 1s ease-in-out;
}
.abt-h1 {
  color: rgba(255, 255, 255, 0.619);
  font-family: sans-serif;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  background: linear-gradient(black, rgb(8, 156, 131));
}
.abt-p1 {
  color: rgba(197, 28, 28, 0.662);
  font-family: sans-serif;
  font-weight: 600;
  line-height: 2;
}
.abt-nav {
  width: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.abt-nav2 {
  margin-left: 50px;
}
.abt-nav3 {
  margin-left: 50px;
}

.Freelance h1 {
  text-align: center;
  padding-top: 10px;
  color: black;
}
.Freelance p {
  color: black;
  padding: 10px;
}
span {
  color: rgba(215, 215, 19, 0.779);
}
/*abt end*/
/*skill start*/
.skill {
  margin-top: 70px;
}
.skil-per {
  height: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.463);
}
.skill-per1 {
  height: 20px;
  width: 90%;
  opacity: 0.3;

  animation: anime 5s linear;
}
@keyframes anime {
  0% {
    width: 0%;
    background-color: red;
  }
  50% {
    width: 50%;
    background-color: orange;
  }
  90% {
    width: 90%;
    background-color: green;
  }
}

.per2 {
  width: 85%;
}
.per3 {
  width: 75%;
}
.para1 {
  margin-top: 10px;
}
.skill-img {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-top: 40px;
}
.skill-img1 {
  border-radius: 50%;
  width: 100px;
}
.skill-img0 {
  margin-left: 10%;
  justify-content: center;
  text-align: center;
}
.skill-img-div2 {
  display: flex;
  margin-top: 20px;
}
.img01 {
  margin-left: 10%;
  justify-content: center;
  text-align: center;
}

.tech-stack {
  margin-top: 30px;
}
.add-anim {
  transform: translateX(0%);
  transition: 2s ease-in-out;
  opacity: 1;
  height: 20px;

  background-color: rgba(221, 24, 24, 0.639);
}

/* SKills ENd*/
/*projects*/
.projects-main-div {
  margin-top: 40px;
}

.p-div {
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.a-img:hover {
  opacity: 0.5;
}
.project-box {
  box-shadow: 4px 4px 2px 2px rgb(44, 71, 47);
  width: auto;
  border: 15px solid rgb(255, 251, 251);

  margin-top: 80px;
  padding: 10px;
  border-radius: 10px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  border-bottom: 1px solid gold;
  animation: anime1 3s linear infinite;
}
@keyframes anime1 {
  0% {
    border: 5px solid rgb(255, 255, 255);
  }
  25% {
    border: 5px solid red;
  }
  50% {
    border: 5px solid rgb(63, 155, 24);
  }
  75% {
    border: 5px solid rgb(48, 42, 172);
  }
  100% {
    border: 5px solid rgb(164, 36, 168);
  }
}
.project-img {
  padding: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
}

.todo img {
  margin-left: 20px;
  opacity: 0.8;
}

.todo img:hover {
  opacity: 1;
}

.todo-btn1 a {
  text-decoration: none;
  color: black;
}
.todo-btn1 a:hover {
  text-decoration: none;
  color: white;
}

.price {
  margin-top: 100px;
}

.LP {
}
/* card Style    */
.card {
  --font-color: #323232;
  --bg-color: #e0e0e0;
  min-width: 250px;
  max-width: 400px;
  height: 350px;
  border-radius: 20px;
  background: var(--bg-color);

  box-shadow: 0px 0px 10px 2px #5a5a5a;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  position: absolute;
  z-index: 0;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: -9px 9px 18px #5a5a5a, 9px -9px 18px #ffffff;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  background-color: rgb(30, 28, 31);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card__img img {
}

.card__descr-wrapper {
  padding: 15px;
  display: grid;
}

.card__title {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 16px;
}

.card__descr {
  color: var(--font-color);
}

.svg {
  width: 25px;
  height: 25px;
  transform: translateY(25%);
  fill: var(--font-color);
}

.card__links {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.card__links .link {
  color: var(--font-color);
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.card__links .link:hover {
  text-decoration: underline;
}
.LP {
  margin-top: 20px;
  padding-top: 20px;
}
.L-disc {
  display: flex;
  flex-wrap: wrap;
  gap: 9rem;
}

/* card Style   End */

.mob-nav {
  display: none;
}

/*project end*/
/* contact*/
.con-main-div {
  margin-top: 100px;
  width: auto;
}
.h2 {
  width: fit-content;
  height: 50px;
  border-bottom: 1px solid white;
}
.con-div1 {
  width: fit-content;
  animation: anime2 2s linear infinite;
}

@keyframes anime2 {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

.con-div2 {
  margin-top: 20px;
}
.con-p1 {
  color: grey;
}
.bi1 {
  margin-right: 20px;
}
.form {
  margin-top: 30px;
}
.input1 {
  width: 900px;
  height: 50px;
}
.btn-ic {
  color: black;
  font-size: 20px;
  margin-top: 10px;
}
.bt01 {
  height: 50px;
  width: 200px;
  border: 0px;
}
.bt01:hover {
  background-color: grey;
}
/*Contact End*/
/*footer start*/
.footer {
  margin-top: 120px;
  height: 120px;
}
.f-ic {
  font-size: 20px;
  color: grey;
}
.f-ic:hover {
  color: rgba(100, 101, 101, 0.509);
}
.bi-instagram:hover {
  color: rgb(166, 25, 159);
}
.bi-facebook:hover {
  color: rgb(0, 0, 255);
}
.bi-github:hover {
  color: rgb(2, 2, 2);
}
.bi-linkedin:hover {
  color: rgb(43, 0, 255);
}
/*footer Over*/

/*scroll effect*/

.anim {
  opacity: 0;
}
.scroll {
  opacity: 1;
  transition: 0.5s ease-in-out;
}
@media only screen and (max-width: 820px) {
  .main-div {
    margin-left: 0px;
    padding: 10px;

    margin-top: 2px;

    width: 100%;
  }
  .Wdiv {
    display: block;
  }

  .nav-div {
    display: none;
  }
  .header-div {
    width: 100%;
    background-position: 900px;
  }
  header {
    position: relative;
    left: 30%;
    top: 100px;

    width: fit-content;
    height: fit-content;
  }
  .head {
    margin-left: -100px;
    margin-top: 50%;
  }
  .type {
    font-weight: 500;
    color: white;
    text-shadow: 5px 5px 5px rgb(19, 17, 17);
    font-size: 40px;
    margin-top: 40px;
  }

  .w-img {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 38%;
    transform: translateX(-100%);
    opacity: 0;
  }
  .project-box {
    height: 400px;
    width: auto;
    margin-left: 0px;
  }
  .p-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .project-img {
  }
  .img3 {
    margin-top: -30px;
  }
  .img4 {
  }

  .abt-main {
    width: 100%;
    padding-top: 10px;
  }
  .abt-h1 {
    text-align: center;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid white;
  }
  .abt-p1 {
    width: 100%;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
  }

  .Freelance h1 {
    text-align: center;
    padding: 5px;
    color: black;
  }
  .Freelance p {
    color: black;
    padding: 10px;
  }
  .abt-nav {
    display: contents;
    width: 100%;
  }
  .abt-nav2 {
    margin-left: 0px;
  }
  .abt-nav3 {
    margin-left: 0px;
  }

  .skill {
    width: 100%;
  }

  .skill-per1 {
    width: 90%;
  }
  .per2 {
    width: 85%;
  }
  .per3 {
    width: 75%;
  }
  .skil-per {
    width: 100%;
  }
  .skill-img {
    margin-left: -5%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tech-stack {
    text-align: center;
  }

  .skill-img-div2 {
    margin-left: -5%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .input1 {
    width: 100%;
  }

  .mob-nav {
    display: block;
   
  }
  .mobnav {
    margin-left: 8px;
    position: fixed;
    top: 0px;
    font-size: 50px;
    z-index: +1;
    transform: translateY(0%);
    transition: 0.5s ease-in-out;
    color: black;
  }
  #mob-nav-list {
    display: block;
    z-index: +1;
    position: fixed;
    top: 55px;
    
    
    background-color: rgb(13, 13, 13);
    border-right: 1px solid rgb(241, 240, 240);
   border-radius: 10px;
    width: 70%;
    transition: 0.5s ease-in-out;
    height: 100vh;
  }
  .mob-nav1 {
    list-style: none;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  .mob-nav2 {
    position: relative;
    right: 15px;
    justify-content: center;
    border-bottom: 1px solid rgb(235, 232, 232);
    margin-top: 20px;
    align-items: center;
    width: 150px;
    
    text-align: center;
    position: relative;
  width:100%;
    padding: 10px;
    height: 50px;
  }

  .mob-nav2 a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
  }
  .mob-nav2 a:hover {
    color: white;
  }
.mob-nav2 i{
  color: white;
}
  .mob-nav2:hover {
    background-color: rgb(105, 104, 104);
    color: black;
  }
  .mob-nav-p {
    
    margin-right: 10px;
    border-radius: 15px;
    margin-top: 80%;
   background-color: white;
    font-size: 15px;
    size: 10px;
    width: auto
  }
  .mob-nav-p i {
   
    align-items: center;
    font-size: 15px;
  }

  .m-img {
    
  }

  /* mobile scroll effect*/
  .anim {
    transform: translateZ(0%);
    opacity: 0.2;
  }
  .scroll {
    opacity: 1;
    transition: 0.5 ease-in-out;
    transform: translateZ(100%);
  }

  .s-anim {
    opacity: 0;
  }
  .add-anim {
    transform: translateX(0%);
    transition: 2s ease-in-out;
    opacity: 1;
    height: 20px;

    background-color: rgba(221, 24, 24, 0.639);
  }

  /* Scroll effect for IMG*/
  .w-img-show {
    display: block;
    width: 100px;
    height: 100px;
    transform: translateX(0%);
    opacity: 0.7;
    transition: 0.5s ease-in-out;
  }
}
